<div class="sidebar">
    <div class="chart titled-box quick-links">
        <h2>${CategoriesLabel}</h2>
        <div class="content">
            <ol class="list">
                ${category_list}
				<li class="separator"><hr/></li>
				                <li class="link"><a target="_blank" href="http://memed.com.br">Memed</a></li>
				                <li class="link"><a target="_blank" href="http://ajuda.memed.com.br">Ajuda Memed</a></li>
				<li class="separator"><hr/></li>
				                <li class="link"><a target="_blank" href="https://console.jumpcloud.com/login">Jumpcloud</a></li>
            </ol>
        </div>
    </div>
</div>
